body {
	background-color: #F5F5F5;
}

#yl-masthead-up {
	position: fixed;
	height: 57px;
	width: 100%;
	background-color: #FFFFFF;
}

.logo {
	position: fixed;
	top: 19px;
	left: 15px;
}

.signin, .signup {
	background-color:#606665;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	position: fixed;
}

.signup {
	
	padding:7px 16px;
	top: 20px;
	right: 49px;
}

.signup:hover, .signin:hover{
	background-color:#e21d1d;
}

.signup:active{
	position:fixed;
}

.signin {
	padding:7px 13px;
	top: 20px;
	right: 160px;
}


.headerLinks{
	text-decoration:none;
	font-family:Arial;
	color:#000;
}

.headerLinks:hover{
	border-bottom:2px solid #cc1a1a;;
}

.headerLinksSelected{
	border-bottom:2px solid #606665;
}

#yl-masthead-content {
	position: fixed;
	left: 230px;
	top: 25px;
}

#masthead-appbar {
    	position: fixed;
  	top: 67px;
	height: 30px;
	width: 100%;
	background-color: #FFFFFF;
}

#accueil-tendance {
    	position: fixed;
  	top: 72px;
    	margin: 0 0 0 -5%;
    	left:50%;
	height: 20px;
	width: 100%;
}


#page-container {
	position : absolute;
	top : 120px;
	left: 10%;
	background-color: #F5F5F5;
}