body {
	text-align: center;
}

.logo {
	position: relative;
	top: 20px;
}

.banner h1 {
	position: relative;
	top: 40px;
	font-size: 38px;
	font-family: 'Open Sans', arial;
	color: #555;
	font-weight: 300;
}

.hidden-small {
	position: relative;
	top: 40px;
	font-size: 18px;
	font-family: 'Open Sans', arial;
	color: #555;
	font-weight: 400;
}

.main-content {
	margin: 55px auto;
	background-color: #F5F5FC;
	height: 265px;
	width: 280px;
}

.circle-mask {
}

#Email {

}

.input-mdp {

}


#next {
}