div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 700px;
    height: 70px;
    opacity: 0.85;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

div.img:hover {
    -webkit-transform: translate(20px,-50px);
	transform: translate(50px,0px);
	opacity: 1;
}

div.img img {
    width: 120px;
    height: 70px;
}

div.desc {
  
    position: relative;
    top: -60px;
    left: 150px;
    font-size: 130%;
}

div.views {
  
    position: relative;
    top: -50px;
    left: 600px;
}
