form.barre-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

input.left {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.left:hover {
	background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right:hover {
    background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.left-active {
	background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right-active {
    background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#principal {
    padding:20px;
    margin-top:30px;
}

img#logoYoulist {
  position: relative; 
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}


form.rechercher input {
	padding: 10px;
}

.search {
	width :400px;
	height:43px;
	color:#95a5a6;
	background-color:#f9f8fa;
	padding: 10px;
	border:none !important;
	box-shadow:none !important;
	text-shadow:none !important;	
}

.search:hover{
   	background-color:#f4f2f6;
}


.search, .button {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top: 350px;
}

.button {
	width :400px;
	height:43px;
    position:relative;
    color:#333333;
    border:none !important;
	box-shadow:none !important;
	text-shadow:none !important;
}

.button:hover  {
	color:#ffffff;
	background-color:#e74c3c;
	border:none !important;
	box-shadow:none !important;
	text-shadow:none !important;	
}
