form.barre-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

input.left {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.left:hover {
	background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right:hover {
    background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.vid {
    position: absolute;
    left: 80px;
    width:854px; 
}

.aff {
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    width:1000px ; 
}

.suiv {
 	position: relative;
	top:445px;
	right: -60%;
  	padding:8px 15px;
  	border:0px solid #dbdbdb;
	color:#ffffff;
}

.prec {
	position: relative;
	top:445px;
	left: -81%;
  	padding:8px 15px;
  	border:0px solid #dbdbdb;
	color:#ffffff; 
}

.prec:hover,.suiv:hover {
  color:#ffffff;
  background-color:#e74c3c;
  border:0px solid #e74c3c;
}

.info {
	position: relative;
	top: 490px;
}

input.left-active {
	background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right-active {
    background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#principal {
    padding:20px;
    margin-top:30px;
}

img#logoYoulist {
  position: relative; 
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
