@import url(https://fonts.googleapis.com/css?family=Roboto:300);

form:not(.barre-navigation) {
	margin-top: 50vh;
	transform: translateY(-50%);
}

body {
	background-color: #c0392b;
}
fieldset {
    padding: 10px;
    border: 2px #000000 solid;
    width: 250px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #bdc3c7;
}

form .erreur {
    color: #900;
}

fieldset input {
	font-size: 15pt;
	width: 250px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

form.barre-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

input.left {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.left:hover {
	background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right:hover {
    background-color: #111;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.left-active {
	background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input.right-active {
    background-color: #c0392b;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form.login-form {
 position: relative;
 top: 10px;
 margin-left: auto;
 margin-right: auto;
 width: 360px;
 background: #FFFFFF;
 transform: translateY(-50%);
 padding: 45px;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


form.login-form input {
 font-family: "Roboto", sans-serif;
 outline: 0;
 background: #f2f2f2;
 width: 100%;
 border: 0;
 margin: 0 0 0px;
 padding: 15px;
 box-sizing: border-box;
 font-size: 14px;
}

form.login-form .button {
 font-family: "Roboto", sans-serif;
 text-transform: uppercase;
 outline: 0;
 background: #e74c3c;
 width: 100%;
 border: 0;
 padding: 15px;
 color: #FFFFFF;
 font-size: 14px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
}

form.login-form :hover, form.login-form .button:active, form.login-form .button:hover, form.login-form .button:focus {
 background: #c0392b;
}

form.login-form .message {
 margin: 0 0 25px;
 color: #b3b3b3;
 font-size: 12px;
}

body {
  text-align: center;
  background-image: url("../images/inscription.png");
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -ms-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto;
 font-family: "Roboto", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;      
}